<!DOCTYPE html>
<html>
<head>
  <title>Chatsey SPARQL Endpoint</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

<style>
body{
  word-wrap: break-word;
  padding-bottom: 50px;
}
.margin-top-0{
  margin-top: 0px;  
}
.margin-top-5{
  margin-top: 5px;  
}
.margin-bottom-0{
  margin-bottom: 0px;  
}
</style>

<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>


<script>
function formatXml(xml) {
    var formatted = '';
    var reg = /(>)(<)(\/*)/g;
    xml = xml.replace(reg, '$1\r\n$2$3');
    var pad = 0;
    jQuery.each(xml.split('\r\n'), function(index, node) {
        var indent = 0;
        if (node.match( /.+<\/\w[^>]*>$/ )) {
            indent = 0;
        } else if (node.match( /^<\/\w/ )) {
            if (pad != 0) {
                pad -= 1;
            }
        } else if (node.match( /^<\w[^>]*[^\/]>.*$/ )) {
            indent = 1;
        } else {
            indent = 0;
        }
 
        var padding = '';
        for (var i = 0; i < pad; i++) {
            padding += '  ';
        }
 
        formatted += padding + node + '\r\n';
        pad += indent;
    });
 
    return formatted;
}
function MainController($scope,$http){
  $scope.query = "construct { ?s ?p ?o } where { ?s ?p ?o }"
  $scope.download = function(){
    var pom = document.createElement('a'); 
    pom.setAttribute('href', 'data:application/rdf+xml;charset=utf-8,' + encodeURIComponent($scope.result)); 
    pom.setAttribute('download', "sparql"); 
    pom.click()
  }
  
  $scope.sendQuery = function(){
    console.log("SEND");
    var future = $http({
      method: "POST",
      url: "/sparql",
      data: "query=" + $scope.query,
      headers: {
        'Accept': 'application/rdf+xml',
        'Content-Type':'application/x-www-form-urlencoded'
      }
    });
    future.success(function(response){
 
      xml_formatted = formatXml(response);
 
      xml_escaped = xml_formatted.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/ /g, '&nbsp;').replace(/\n/g,'<br />');
 
      $scope.result = xml_formatted;
    });
  }
}
</script>
</head>
<body ng-cloak ng-app>
  <div class="container", ng-controller="MainController">
    <h1>Welcome to Chatsey SPARQL endpoint</h1>
    <p class="lead">http://rdf.chatsey.com/sparql</p>
    <p>For information about ontology, please visit <a href="http://rdf.chatsey.com/ontology">http://rdf.chatsey.com/ontology</a></p>
    <p>For the lisf of all resources available, please visit <a href="http://rdf.chatsey.com/resource">http://rdf.chatsey.com/resource</a></p>
    <p>For more information, please visit <a href="https://bitbucket.org/hanguyen3131/chatsey/wiki/Home">https://bitbucket.org/hanguyen3131/chatsey/wiki/Home</a></p>
    <p>For more information about SPARQL, please take a look at <a href="http://www.cambridgesemantics.com/semantic-university/sparql-by-example">http://www.cambridgesemantics.com/semantic-university/sparql-by-example</a> </p>
    <form action ng-submit="sendQuery()">
      <label>Please type your query below</label>
      <textarea ng-model="query" class="form-control" rows=10 name="query" id="query"></textarea>
      <br>
      <button class="btn btn-primary" type="submit">Send</button>
    </form>    
    <br>
    <textarea rows=10 class="form-control" ng-model="result"></textarea>
    <br>
    <button class="btn btn-primary" ng-click="download()">Download</button>
    
    <br>
  </div>
</body>
</html>
