<!DOCTYPE html>
<html>
<head>
  <title>Chatsey Ontology</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

<style>
body{
  word-wrap: break-word;
  padding-bottom: 50px;
}
.margin-0{
  margin: 0px;  
}
.margin-top-0{
  margin-top: 0px;  
}
.margin-top-5{
  margin-top: 5px;  
}
.margin-bottom-0{
  margin-bottom: 0px;  
}
</style>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<script src="http://coffeescript.org/extras/coffee-script.js"></script>

<script type="text/coffeescript">

window.MainController = ($scope, $http, $timeout) ->
  $scope.sendClassQuery = ->
    query = """
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    construct { ?s ?p ?o } where { ?s a rdfs:Class . ?s ?p ?o }
    """
    $scope.sendQuery query, (response)=>
      $timeout =>
        $scope.classes = response
  $scope.sendPropertyQuery = ->
    query = """
    PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
    construct { ?s ?p ?o } where { ?s a rdf:Property . ?s ?p ?o }
    """
    $scope.sendQuery query, (response)=>
      $timeout =>
        $scope.properties = response
  $scope.sendQuery = (query, cb)->
    console.log "SEND"
    future = $http(
      method: "POST"
      url: "/sparql"
      data: "query=" + query
      headers:
        Accept: "application/json"
        "Content-Type": "application/x-www-form-urlencoded"
    )
    future.success (response) ->
      console.log response
      cb(response)
        
  $scope.sendPropertyQuery()
  $scope.sendClassQuery()
  
angular.module "myApp", []
angular.bootstrap document, ["myApp"]

</script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>


</head>
<body ng-cloak>
  <!-- <nav class="navbar navbar-default">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    <a class="navbar-brand" href="#">Chatsey Ontology</a>
  </nav> -->
    
  <div class="container", ng-controller="MainController">
    <h1>Chatsey Ontology</h1>
    <p>For more information, please visit <a href="https://bitbucket.org/hanguyen3131/chatsey/wiki/Home">https://bitbucket.org/hanguyen3131/chatsey/wiki/Home</a></p>
    <h3 ng-show="classes && classes.length > 0">Class</h3>
    <div ng-show="classes && classes.length > 0" ng-repeat="class in classes"  class="row margin-0">
      <h4 class="col-xs-12 margin-top-5">Class: {{class["rdfs:label"]}}
</h4>
<div class="col-xs-12">
  <span class="col-xs-2">@subject</span>
  <a class="col-xs-10" ng-href="{{class['@subject']}}">{{class["@subject"]}}</a>
</div>
<div class="col-xs-12">
  <span class="col-xs-2">rdfs:comment</span>
  <span class="col-xs-10">{{class["rdfs:comment"]}}</span>
</div>
      <!-- <div class="col-xs-12" ng-repeat="(k,v) in class">
        <span class="col-xs-2">{{k}}</span>
        <span class="col-xs-10">{{v}}</span>
      </div> -->
    </div>
    <h3 ng-show="properties && properties.length > 0">Property</h3>
    <div ng-show="properties && properties.length > 0" ng-repeat="property in properties"  class="row margin-0">
      <h4 class="col-xs-12 margin-top-5">Property: {{property["rdfs:label"]}}
</h4>
<div class="col-xs-12">
  <span class="col-xs-2">@subject</span>
  <a class="col-xs-10" ng-href="{{property['@subject']}}">{{property["@subject"]}}</a>
</div>
<div class="col-xs-12">
  <span class="col-xs-2">rdfs:comment</span>
  <span class="col-xs-10">{{property["rdfs:comment"]}}</span>
</div>
      <!-- <div class="col-xs-12" ng-repeat="(k,v) in property">
        <span class="col-xs-2">{{k}}</span>
        <span class="col-xs-10">{{v}}</span>
      </div> -->
    </div>
    
  </div>
</body>
</html>
