<!DOCTYPE html>
<html>
<head>
  <title>Chatsey Resource</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

<style>
body{
  word-wrap: break-word;
  padding-bottom: 50px;
}
.margin-0{
  margin: 0px;  
}
.margin-top-0{
  margin-top: 0px;  
}
.margin-top-5{
  margin-top: 5px;  
}
.margin-bottom-0{
  margin-bottom: 0px;  
}
</style>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<script src="http://coffeescript.org/extras/coffee-script.js"></script>

<script type="text/coffeescript">

window.MainController = ($scope, $http, $timeout) ->
  $scope.sendNounSynsetQuery = ->
    query = """
    PREFIX wordnet: <http://www.w3.org/2006/03/wn/wn20/schema/>
    
    construct { ?s ?p ?o } where { ?s a wordnet:NounSynset . ?s ?p ?o }
    """
    $scope.sendQuery query, (response)=>
      $timeout =>
        $scope.nouns = response
  $scope.sendPersonQuery = ->
    query = """
    PREFIX foaf: <http://xmlns.com/foaf/0.1/>

    construct { ?s ?p ?o } where { ?s a foaf:Person . ?s ?p ?o }
    """
    $scope.sendQuery query, (response)=>
      $timeout =>
        $scope.persons = response
  $scope.sendQuery = (query, cb)->
    console.log "SEND"
    future = $http(
      method: "POST"
      url: "/sparql"
      data: "query=" + query
      headers:
        Accept: "application/json"
        "Content-Type": "application/x-www-form-urlencoded"
    )
    future.success (response) ->
      console.log response
      cb(response)
        
  $scope.sendNounSynsetQuery()
  $scope.sendPersonQuery()
  
angular.module "myApp", []
angular.bootstrap document, ["myApp"]

</script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>


</head>
<body ng-cloak>
  <!-- <nav class="navbar navbar-default">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    <a class="navbar-brand" href="#">Chatsey Ontology</a>
  </nav> -->
    
  <div class="container", ng-controller="MainController">
    <h1>Chatsey Resource</h1>
    <p>For more information, please visit <a href="https://bitbucket.org/hanguyen3131/chatsey/wiki/Home">https://bitbucket.org/hanguyen3131/chatsey/wiki/Home</a></p>

    <h3 ng-show="persons && persons.length > 0">Person</h3>
    <div ng-show="persons && persons.length > 0" ng-repeat="person in persons"  class="row margin-0">
      <h4 class="col-xs-12 margin-top-5">Person: {{person["rdfs:label"]}}
</h4>
<div class="col-xs-12">
  <span class="col-xs-2">@subject</span>
  <a class="col-xs-10" ng-href="{{person['@subject']}}">{{person["@subject"]}}</a>
</div>
      <!-- <div class="col-xs-12" ng-repeat="(k,v) in person">
        <span class="col-xs-2">{{k}}</span>
        <span class="col-xs-10">{{v}}</span>
      </div> -->
    </div>

    <h3 ng-show="nouns && nouns.length > 0">NounSynset</h3>
    <div ng-show="nouns && nouns.length > 0" ng-repeat="noun in nouns"  class="row margin-0">
      <h4 class="col-xs-12 margin-top-5">NounSynset: {{noun["rdfs:label"]}}
</h4>
<div class="col-xs-12">
  <span class="col-xs-2">@subject</span>
  <a class="col-xs-10" ng-href="{{noun['@subject']}}">{{noun["@subject"]}}</a>
</div>
      <!-- <div class="col-xs-12" ng-repeat="(k,v) in person">
        <span class="col-xs-2">{{k}}</span>
        <span class="col-xs-10">{{v}}</span>
      </div> -->
    </div>
    
    
  </div>
</body>
</html>
